<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container col-4 mt-4">
<h1>Mantenimiento del Producto</h1>
<div class="alert alert-success alert-dismissible fade show mt-2 mb-2" role="alert" th:if="${mensaje != null}" th:text="${mensaje}">
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
<form th:action="@{/producto/save}" method="post" th:object="${productos}">
  <input type="hidden" th:value="${productos.id}" th:field="*{id}">
  <div class="form-group">
    <label for="inputNombre">Nombre del producto</label>
    <input class="form-control" th:field="*{nombre}" placeholder="Ingrese nombre del producto">
  </div>
  <!--  
  <div class="form-group">
  	<label for="Image" class="form-label">Imagen del Producto</label>
  	<input class="form-control" type="file" id="formFile" onchange="preview()">
  	<button onclick="clearImage()" class="btn btn-danger mt-3">Eliminar imagen</button>
  </div>
  -->
  <img id="frame" src="" class="img-fluid" />
  <div class="form-group">
    <label for="inputNombre">Laboratorio</label>
    <select class="form-control" th:field="${productos.laboratorio}">
  		<option th:value="-1" th:text="Seleccione"></option>
  		<option th:each="l : ${laboratorios}"
  		th:value="${l.id_laboratorio}"
  		th:text="${l.nombre_laboratorio}">
  		</option>
  	</select>
  </div>
  <div class="form-group">
    <label for="inputNombre">Categoria</label>
    <select class="form-control" th:field="${productos.categoria}">
  		<option th:value="-1" th:text="Seleccione"></option>
  		<option th:each="c : ${categorias}"
  		th:value="${c.idcategoria}"
  		th:text="${c.descripcion}">
  		</option>
  	</select>
  </div>
  <div class="form-group">
    <label for="inputNombre">IFA</label>
    <select class="form-control" th:field="${productos.ifa}">
  		<option th:value="-1" th:text="Seleccione"></option>
  		<option th:each="i : ${ifas}"
  		th:value="${i.id_ifa}"
  		th:text="${i.nombre_ifa}">
  		</option>
  	</select>
  </div>
  <div class="form-group">
    <label for="inputNombre">Unidades en stock</label>
    <input class="form-control" th:field="*{stock}" placeholder="0">
  </div>
  <div class="form-group">
    <label for="inputNombre">Precio por unidad</label>
    <input class="form-control" th:field="*{precio_unidad}" placeholder="S/ 0.00">
  </div>
  <div class="form-group">
    <label for="inputNombre">Precio por empaquetado</label>
    <input class="form-control" th:field="*{precio_empaq}" placeholder="S/ 0.00">
  </div>
  <div class="form-group">
    <label for="inputNombre">Fecha de caducidad</label>
    <input type="date" th:field="*{fechacad}" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-success">Agregar</button>
  <a class="btn btn-primary" href="/producto">Volver</a>
</form>
</div>

<script>
	function preview() {
		frame.src = URL.createObjectURL(event.target.files[0]);
	}
	function clearImage() {
		document.getElementById('formFile').value = null;
		frame.src = "";
	}
</script>

</body>
</html>